<div class="container">


  <table mat-table #table [dataSource]="dataSource.ELEMENT_DATA" class="mat-elevation-z8 tabela"
    *ngIf="dataSource.ELEMENT_DATA.length > 0">

    <ng-container matColumnDef="checkbox">
      <th mat-header-cell *matHeaderCellDef> Validação de compra </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <mat-checkbox [(ngModel)]="element.checkbox" color="primary"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{ element.nome }} </td>
    </ng-container>

    <ng-container matColumnDef="qtd">
      <th mat-header-cell *matHeaderCellDef> Qtd </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{ element.qtd }} </td>
    </ng-container>

    <ng-container matColumnDef="preco">
      <th mat-header-cell *matHeaderCellDef> Preço </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <input type="number" [(ngModel)]="element.preco" class="input-valor">
      </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Total material </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <p> {{ element.preco * element.qtd || 0}} </p>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div class="container container-progressbar">
  <h2> {{ totalMarcados }}/{{ totalPercento }} </h2>
  <mat-progress-bar 
    color="primary"
    mode="determinate" 
    [value]="calculaBarra()">
  </mat-progress-bar>

</div>

<div class="container container-calculo">
  <h2 clas="total">Total: {{ calcular() | currency:"BRL"}}</h2>
  <h2 clas="total-comprados">Total comprados: {{ calcularComprados() | currency:"BRL"}}</h2>
</div>