table {
    width: 85%;
    margin: 50px auto 30px;
}
.container-calculo{
    text-align: start;
    padding-bottom: 50px;
    padding-top: 20px;
}

.btn-calculo {
    background-color: #4527A0;
    padding: 10px;
    margin: 20px;
}

.container-progressbar {
    text-align: center;
}

@media screen and (max-width: 721px) {
    .input-valor {
        width: 20px;
    }
    
}