table {
    width: 85%;
    margin: 0px auto 30px;
}
.container-input {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.input-dialog {
    padding: 8px;
    width: 25%;
    font-size: 1.25rem;
    background-color: #4527A0;
    color: #fff;
}
.form-invalid-msg{
    margin: 30px 0 0 0;
    text-align: center;
}

.msg-insira {
    font-size: 1.5rem;
    color: #4527A0;
    font-weight: bold;
}

.tabela {
    margin-bottom: 100px;
}